.documentation-section-wrapper {
  background-color: #ffffff;
}
.docs-ref-list .doc-ref-list-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.doc-ref {
  margin-top: 40px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.16);
  box-shadow: 0 0 5px rgba(0,0,0,.16);
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .documentation-section-wrapper {
    background: url("../../images/doc-ref-background@2x.png") no-repeat;
    background-size: cover;
  }
  .docs-ref-list .doc-ref-list-item {
    width: 48%;
  }
  .doc-ref {
    margin-right: 30px; 
  }
  .doc-ref-list-item:nth-child(2n) .doc-ref {
    margin-right: 30px;
  }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  .docs-ref-list .doc-ref-list-item {
    width: 33%;
  }
  .doc-ref {
    margin-right: 30px; 
  }
  .doc-ref-list-item:nth-child(2n) .doc-ref {
    margin-right: 30px;
  }
}
