<div class="guides-sub-nav">
    <div class="flex u-position--relative">
        <div class="arrow"></div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Guides</h3>
            <div class="guide">
                <a href="/docs/getting-started">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Getting Started</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn about ship and how to use it.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/ship-init">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship init</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn what the <code>init</code> command does and how to use it.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <h3 class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship watch</h3>
                <div class="guide">
                    <a href="/docs/ship-watch">
                        <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn what the <code>watch</code> command does and how to use it.</p>
                    </a>
                </div>
            </div>
            <div class="guide u-marginTop--more">
                <h3 class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship update</h3>
                <div class="guide">
                    <a href="/docs/ship-update">
                        <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn what the <code>update</code> command does and how to use it.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Reference</h3>
            <div class="guide">
                <a href="/reference/ship-yaml">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship.yaml</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Complete reference to the keys available in a ship.yaml</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/assets">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Assets</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Reference documentation for all supported asset types.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/lifecycle">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Lifecycle</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Reference documentation for all supported lifecycle steps.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/config">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Config</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Reference documentation for config items.</p>
                </a>
            </div>
        </div>
    </div>
</div>
