<div class="guides-sub-nav">
    <div class="flex u-position--relative">
        <div class="arrow"></div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Configuring</h3>
            <div class="guide">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Testing</h3>
            <div class="guide">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Deploying</h3>
            <div class="guide">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column u-position--relative">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Best Practices</h3>
            <div class="guide">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue">Guide Title #1</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>  
            <div class="see-more flex alignItems--center u-position--absolute">
                <a href="/docs" class="u-fontWeight--medium u-fontSize--normal u-color--curiousBlue u-paddingRight--normal">See all docs</a>
                <span class="icon u-chevronIcon"></span>
            </div>
        </div>
    </div>
</div>