<div class="guides-sub-nav">
    <div class="flex u-position--relative">
        <div class="arrow"></div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Ship Config</h3>
            <div class="guide">
                <a href="/docs/ship-yaml">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Getting Started</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Configuring an application for the first deployment</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/ship-yaml/assets/asset-types">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Asset Types</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Assets enable you to describe applications managed by Ship</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Ship Init</h3>
            <div class="guide">
                <a href="/docs/ship-init">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Overview</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">An overview of Ship Init</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Ship Watch</h3>
            <div class="guide">
                <a href="/docs/ship-watch">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Overview</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">An overview of Ship Update</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column u-position--relative">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Ship Update</h3>
            <div class="guide">
                <a href="/docs/ship-update">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Overview</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">An overview of Ship Update</p>
                </a>
            </div>
        </div>
    </div>
</div>
