<div class="guides-sub-nav">
    <div class="flex u-position--relative">
        <div class="arrow"></div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Guides</h3>
            <div class="guide">
                <a href="/docs/getting-started">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">Getting Start</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn the basics of Ship.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/ship-init">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship init</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn about the ship init command</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/ship-watch">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship watch</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn about the ship watch command</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/docs/ship-update">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship update</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Learn about the ship update command</p>
                </a>
            </div>
        </div>
        <div class="guide-wrapper flex flex-column">
            <h3 class="u-fontWeight--bold u-fontSize--normal u-color--shipGreen u-marginBottom--more">Reference</h3>
            <div class="guide">
                <a href="/reference/ship">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">ship.yaml</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Reference documentation on the ship.yaml file.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/assets">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">assets</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Full documentation on the available asset types in Ship.</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/lifecycle">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">lifecycle</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Full documentation on the available lifecycle steps in Ship</p>
                </a>
            </div>
            <div class="guide u-marginTop--more">
                <a href="/reference/config">
                    <p class="u-fontSize--small u-fontWeight--medium u-marginBottom--small u-color--darkBlue u-lineHeight--normal">config</p>
                    <p class="u-fontSize--small u-color--dustyGray u-lineHeight--normal">Full documentation on the available config items in Ship.</p>
                </a>
            </div>
        </div>
    </div>
</div>
