<section class="header-section">
    <div class="container u-marginTop--60">
        <h1 class="u-fontSize--header u-fontWeight--bold u-lineHeight--normal">
            Ship makes it easier than ever to<br />
            integrate enterprise applications into <br/>
            your development workflow.
        </h1>
        <p class="u-fontSize--larger u-color--dustyGray u-lineHeight--normal u-marginTop--normal">
            Installing an updating Enterprise software should be easy. <br />
            Automate your on-prem release cycle using modern development workflows.
        </p>
        <div class="flex u-marginTop--more">
            <button class="Button primary green u-marginRight--normal">Get Started</button>
            <button class="Button secondary green">Learn More</button>
        </div>
    </div>
</section>