<section class="header-section">
    <div class="container flex u-marginTop--60 justifyContent--center alignItems--center">
        <div class="cube-logo flex-auto"></div>
        <div class="flex-auto">
            <h1 class="u-fontSize--header u-fontWeight--bold u-lineHeight--normal">
                Replicated Ship
            </h1>
            <p class="u-fontSize--larger u-color--dustyGray u-fontWeight--medium u-lineHeight--normal u-marginTop--normal">
                Simple integration of your enterprise application
            </p>
        </div>
    </div>
</section>